.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .titulo {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .botones-container {
    display: flex;
    justify-content: center;
  }
  
  .boton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .boton:hover {
    background-color: #45a049;
  }  