


.header-content {
  display: flex;
  
  justify-content: center;
  align-items: center;
  background-color: #293b6e;
  height: 10vh;
  padding: 10px;
}

.contdeFechas {
   display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80vh;
  margin-left: 25%;


}

.date-pickerINI1 {
  display: flex;
  margin-top: 4%;
align-items: center;
  height: 10%;
  width: 30vh;
  border-radius: 2;
  background-color: rgb(252, 251, 251);
  border-style:inset;
}



.botbusquedaFec {
  background-color: #15941a;
  color: white;
  border: none;
  margin-top: 4%;
  font-size: 16px;
  cursor: pointer;
  
}




body.bodyinicio {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./imagenes/fondoop1.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

:root {
  --margendeArriba: 130px auto;
}

.containerIni {
  max-width: 90%;
  margin: 2vh auto;
  padding: 10px;
  max-height: calc(100vh - 6vh); /* aca modificar la resta segun el largo*/
  overflow: auto;
  overflow-x: hidden;
  scrollbar-width: none;
}

.containerIni::-webkit-scrollbar {
  display: none; /* Ocultar la barra de desplazamiento en navegadores WebKit  */
}

.admin-button-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.admin-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20%;
}

.hotels-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
  justify-items: left;
  margin-left: 10%;
}

.hotel-card {
  width: 900px;
  text-align: left;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #fff;
}

.hotel-card img {
  max-width: 100%;
}

.hotel-card h4,
.hotel-card p {
  margin: 5px 0;
}

.hotel-card button {
  background-color: #293b6e;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
 border-style: double;
 border-radius: 10%;
}

.hotel-card button:hover {
  background-color: #0c1841;
}
