body.bodyopciones {
  background-image: url(./imagenes/fondo1.avif);
  background-size: cover;
    background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}



.contOPcio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   background: rgba(260, 260, 260, .2);
border-radius: 1%;
  height: 350px;
  width: 400px;
  box-shadow: 0 0 17px rgba(0, 0, 0, 1);
}

.welcome-text {
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: #333;
}



.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.buttoninicio {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #29537a;
  color: #ecebeb;
  cursor: pointer;
}

.buttoninicio:hover {
  background-color: #1f2a69;
}
