.reservations-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:;
  }
  
  .reservations-container2 {
    background-color: #e6f3ff;
    padding: 20px;
    border-radius: 5px;
  }
  
  .reservation-card {
    text-align: center;
    margin-bottom: 10px;
  } 